import { {{pascalCase name}}Props } from './type'
import { Div } from './style'

export default function {{pascalCase name}}({ text }: {{pascalCase name}}Props) {
  return (
    <Div>
      <h2>{{pascalCase name}} Instance</h2>
      <p>{text}</p>
    </Div>
  )
}
